.header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	background-color: #000618;
}

.header img {
    border-radius: 4px;
	max-width: 80px;
}
.header ul {
	display: flex;
	gap: 1em;
    
}
